
.DS_Store

# PHPStorm
.idea

# Composer
composer.phar
vendor

# npm
node_modules

# Coverage Reporting
report

# Generated Archives
pkg
build

# phpunit
.phpunit.result.cache

# config
tests/phpstan.config.php
